<!DOCTYPE html>
<html lang="en" ng-app="githubApp">
 <head>
   <meta charset="utf-8">
   <title>Github App</title>
   <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
   <link rel='stylesheet' type='text/css' href="css/custom-styles.css">
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-resource/angular-resource.js"></script>
   <script src="js/app.js"></script>
   <script src="js/controllers/controllers.js"></script>
 </head>

 <body ng-controller="listController as listCtrl">

      <h1 id='title'>Easily find GitHub users!</h1>

      <h4 id='subtitle'>
        A demonstration of AngularJS by
        <a href='https://github.com/rufusraghunath'>Rufus Raghunath</a>,
        <a href='https://github.com/ScottGledhill'>Scott Gledhill</a>,
        <a href='https://github.com/vickymg'>Vicky Gray</a>, and
        <a href='https://github.com/MarcusBullock'>Marcus Bullock</a>.
      </h4>

      <section id='searchbar'>
        Search: <input ng-model="query">
      </section>

      <section id='update-users'>
        <span>Can't find someone?</span><button id='update-button' ng-click='listCtrl.updateUsers()'>Update users</button>
        <p ng-show="listCtrl.beingUpdated">Update in progress. This may take a while...</p>
        <p ng-show="listCtrl.isUpdated">Users updated successfully!</p>
      </section>

     <section class="user-class" ng-repeat="user in listCtrl.users | filter:query">
       <a ng-href='{{user.url}}'><img ng-src='{{user.avatar}}'/></a>
       <p><span>Username: </span>{{user.username}}</p>
       <p><span>Repo count: </span>{{user.repo_count}}</p>
       <p><span>Follower count: </span>{{user.follower_count}}</p>
     </section>

 </body>
</html>
